<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MoviesBox</title>
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- styling -->
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header>
      <a href="" class="logo">MoviesBox</a>
      <ul class="nav">
        <li>
          <a href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
        </li>
        <li><a href="/movies">Movies</a></li>
        <li><a href="/tv-shows">TV Shows</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <div class="search">
        <input type="text" placeholder="Search" />
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
    </header>
    <div class="banner">
      <div class="content active">
        <img src="/img/kiminonawa_title.png" alt="" class="movie-title" />
        <h4>
          <span id="release_year">2016</span>
          <span id="parental"><i>13+</i></span>
          <span id="duration">2h 14m</span>
          <span id="genres">Romance - Spiritual</span>
        </h4>
        <p id="sinopsis">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
          dolorum exercitationem pariatur, iste odit quidem totam labore ex
          velit maxime, maiores ab sit dignissimos id ut quam illo sapiente
          tempore? Doloribus adipisci nobis quibusdam obcaecati error illo quae
          explicabo nulla fugiat consectetur iure, molestias illum recusandae
          facere soluta praesentium similique!
        </p>
        <div class="buttons">
          <a href="#"><i class="fa fa-play" aria-hidden="true"></i> Watch</a>
          <a href="#"
            ><i class="fa fa-plus-square" aria-hidden="true"></i> My List</a
          >
        </div>
      </div>
      <div class="carousel-box">
        <div class="carousel">
          <div
            class="carousel-item"
            onclick="changeBg('kiminonawa_bg.jpg', 'kimi-no-nawa')"
          >
            <img src="/img/kiminonawa_poster.jpeg" alt="" />
          </div>
          <div
            class="carousel-item"
            onclick="changeBg('sore_poster.jpg', 'sore')"
          >
            <img src="/img/sore_poster.jpg" alt="" />
          </div>
          <div
            class="carousel-item"
            onclick="changeBg('Shutterisland_bg.jpg', 'shutter-island')"
          >
            <img src="/img/Shutterisland_poster.jpg" alt="" />
          </div>
          <div
            class="carousel-item"
            onclick="changeBg('batmanvsuperman_bg.jpg', 'batman-v-superman')"
          >
            <img src="/img/batmanvsuperman_poster.jpg" alt="" />
          </div>
          <div
            class="carousel-item"
            onclick="changeBg('avengersendgame_bg.jpg', 'avengers-endgame')"
          >
            <img src="/img/avengersendgame_poster.jpg" alt="" />
          </div>
        </div>
      </div>
      <a href="" class="play">
        <i class="fa fa-play-circle-o" aria-hidden="true"></i>Whatch Trailer
      </a>
      <ul class="sci">
        <li>
          <a href="https://github.com/HOSEKI7" target="_blank"
            ><i class="fa fa-github"></i
          ></a>
          <a href="https://www.linkedin.com/in/farid-zahran/" target="_blank"
            ><i class="fa fa-linkedin"></i
          ></a>
          <a href="https://www.instagram.com/faridzahran__/" target="_blank"
            ><i class="fa fa-instagram"></i
          ></a>
          <a href="https://www.youtube.com/@HOSEKIII" target="_blank"
            ><i class="fa fa-youtube"></i
          ></a>
        </li>
      </ul>
    </div>
    <!-- jquery -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- index.js -->
    <script src="/js/index.js"></script>
  </body>
</html>
